:root {
  --primary: #df6951;
}

.hero {
  @media only screen and (max-width: 600px) {
    > .container-fluid {
      > nav {
        background-color: black;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    position: relative;
    > .container-fluid {
      padding: 0;
    }
    > .container {
      > nav {
        position: absolute;
        left: 200px;
        top: 50px;
        right: 200px;
        z-index: 20;
        display: flex;
        justify-content: space-between !important;
        flex-wrap: nowrap;
      }
    }
  }
}
#navbarNav {
  justify-content: flex-end;
}
.navbar-list {
  @media only screen and (min-width: 992px) {
    display: flex;
    > li + li {
      margin-top: 0px !important;
    }
    > li {
      > a {
        color: white !important;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

.swiper-wrapper {
  max-height: 100vh;

  > .swiper-slide {
    > img {
      width: 100% !important;
    }
  }
}

.swiper-slide {
  display: flex !important;
  flex-direction: row;
  .card + .card {
    margin-left: 40px;
  }
}
.swiper-pagination-2 {
  text-align: center;
  margin-top: 64px;
}

.main-slide {
  @media only screen and (min-width: 992px) {
    position: relative;

    > .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      >h1{
        color: white!important;
        text-align: center;
        min-width: 1000px;
      }
      > p {
        text-align: center;
        color: white;
      }
    }
  }
}

ul {
  list-style-type: none;
  li + li {
    margin-top: 12px;
  }
}

.swiper-pagination-bullet {
  @media only screen and (max-width: 600px) {
    width: 8px !important;
    height: 8px !important;
  }
  @media only screen and (min-width: 992px) {
    width: 16px !important;
    height: 16px !important;
  }
}
.swiper-pagination-bullet-active {
  background-color: #df6951 !important;
}

.promotion {
  @media only screen and (max-width: 600px) {
    padding: 82px 0px;
  }
  @media only screen and (min-width: 992px) {
    padding: 164px 0px;
  }
}

.promotion-image-wrapper {
  @media only screen and (max-width: 600px) {
    margin-top: 82px;
  }
  > img {
    width: 100%;
  }
}

.LastMinuteOffers {
  background-color: #fafafa;
  @media only screen and (max-width: 600px) {
    padding: 60px 0px;
  }
  @media only screen and (min-width: 992px) {
    padding: 120px 0px;
  }
}

.stories {
  background-image: url(images/StoriesImage.png);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: bottom;

  @media only screen and (max-width: 600px) {
    padding: 82px 0px;
  }
  @media only screen and (min-width: 992px) {
    padding: 164px 0px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 25%;
  }
}

.stories-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > .stories-title {
    margin-bottom: 64px;
    max-width: 870px;
    text-align: center;
  }
  > .stories-text {
    background-color: white;
    text-align: center;
    @media only screen and (max-width: 600px) {
      background-color: rgb(255, 255, 255, 0.5);
    }
    @media only screen and (min-width: 992px) {
      width: 740px;
      padding: 64px 65px;
    }
  }
}

h1 {
  font-weight: 700 !important;

  @media only screen and (max-width: 600px) {
    font-size: 60px !important;
    line-height: 68px !important;
  }
  @media only screen and (min-width: 992px) {
  line-height: 76px !important;
  font-size: 80px!important;
  }
}

h2 {
  @media only screen and (max-width: 600px) {
    font-size: 40px !important;
    line-height: 48px !important;
  }
  @media only screen and (min-width: 992px) {
    font-size: 60px !important;
    line-height: 68px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 700 !important;
  }
}

h5 {
  font-size: 36px !important;
  line-height: 40px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p {
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

p.bold {
  font-weight: 700;
}

p.promo {
  font-weight: 700;
  color: var(--primary);
  font-size: 16px !important;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 24px !important;
  font-size: 16px !important;
  color: black !important;
  text-decoration: none !important;
}

button.btn-primary {
  background-color: var(--primary);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px !important;
  border-radius: 8px;
  border: 0;

  @media only screen and (max-width: 600px) {
    padding: 10px 12px 10px 12px;
  }
  @media only screen and (min-width: 992px) {
    padding: 20px 24px 20px 24px;
  }
}

.footer {
  background-image: url(images/FooterImage.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  @media only screen and (max-width: 600px) {
    padding: 76px 0px;
  }
  @media only screen and (min-width: 992px) {
    padding: 152px 0px;
  }
}
.footer-logo {
  margin-bottom: 12px;
}
input {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.travel-destinations {
  @media only screen and (max-width: 600px) {
    padding: 82px 0px;
  }
  @media only screen and (min-width: 992px) {
    padding: 164px 0px;
  }
}
.traveldestinations-title {
  text-align: center;
  margin-bottom: 64px;
}

.lastminute-title {
  text-align: center;
  @media only screen and (max-width: 600px) {
    margin-bottom: 32px;
  }
  @media only screen and (min-width: 992px) {
    margin-bottom: 64px;
  }
}

.card {
  height: 100%;
  border-radius: 12px !important;
  border: 0 !important;

  > img {
    padding: 32px;
    max-width: 416px;
  }

  > .card-body {
    > .destination-rating {
      display: flex;
      align-items: center;
      > .star-wrapper {
        margin-left: 20px;
        display: flex;
        align-items: center;
        margin-right: 4px;
      }
      p {
        margin: 0;
        font-weight: 500;
      }
    }
  }
}
